{
  "openapi": "3.0.1",
  "info": {
    "title": "eToro Api",
    "version": "v1.156.0",
    "description": "eToro\u2019s public API provides access to real-time financial data, trading insights, and account management features, allowing developers to integrate eToro\u2019s services into their applications. With access to market prices, historical data, and social trading information, the API empowers users to enhance their trading strategies. Designed for security and scalability, the eToro API ensures smooth and reliable integration for a variety of financial applications.\n\nFor more details on integrating with eToro's public WebSocket service, please refer to the dedicated [WebSocket documentation](./websocket/websocket-doc.html)."
  },
  "servers": [
    {
      "url": "https://public-api.etoro.com",
      "description": "eToro Public API"
    }
  ],
  "paths": {
    "/api/v1/curated-lists": {
      "get": {
        "tags": [
          "Watchlists"
        ],
        "summary": "Get curated lists",
        "description": "Retrieves curated investment lists available to the authenticated user.",
        "responses": {
          "200": {
            "description": "Successfully retrieved curated lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CuratedListsResponse"
                }
              }
            }
          },
          "204": {
            "description": "No curated lists available"
          }
        },
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "5086921a-c9fb-4296-aeb3-560c66579e9d"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ]
      }
    },
    "/api/v1/feeds/instrument/{marketId}": {
      "get": {
        "tags": [
          "Feeds"
        ],
        "summary": "Get instrument feed posts",
        "description": "Retrieves feed posts associated with a specific financial instrument. The feed includes discussions, analyses, and other content related to the instrument.",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "755f6cd5-90ce-4c07-98bd-90c9d897af7a"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "marketId",
            "in": "path",
            "description": "Unique identifier of the financial instrument/market to retrieve feed posts for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123456"
          },
          {
            "name": "requesterUserId",
            "in": "query",
            "description": "ID of the user making the request. Used for personalization and permission checks.",
            "schema": {
              "type": "string"
            },
            "example": "7890"
          },
          {
            "name": "take",
            "in": "query",
            "description": "Number of feed posts to retrieve. Used for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "example": 20
          },
          {
            "name": "badgesExperimentIsEnabled",
            "in": "query",
            "description": "Flag indicating whether to include user badges in the response. Part of badges feature experiment.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of feed posts to skip. Used for pagination in combination with take parameter.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "reactionsPageSize",
            "in": "query",
            "description": "Number of reactions to include per post. Controls the pagination of post reactions.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved instrument feed posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/feeds/post": {
      "post": {
        "tags": [
          "Feeds"
        ],
        "summary": "Create a new discussion post",
        "description": "Creates a new discussion post in the feed system. This endpoint allows users to create posts that can be associated with instruments, users, or general discussions.",
        "requestBody": {
          "description": "Discussion post creation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0815700a-62bf-48b9-b82a-2973881f481f"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ]
      }
    },
    "/api/v1/feeds/user/{userId}": {
      "get": {
        "tags": [
          "Feeds"
        ],
        "summary": "Get user feed posts",
        "description": "Retrieves feed posts associated with a specific user. The feed includes the user's discussions, analyses, and other content they have posted.",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "65b2e446-c20b-4e1e-84fd-e367009c083e"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID of the user whose feed posts should be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7890"
          },
          {
            "name": "requesterUserId",
            "in": "query",
            "description": "ID of the user making the request. Used for personalization and permission checks.",
            "schema": {
              "type": "string"
            },
            "example": "1111"
          },
          {
            "name": "take",
            "in": "query",
            "description": "Number of feed posts to retrieve. Used for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "badgesExperimentIsEnabled",
            "in": "query",
            "description": "Flag indicating whether to include user badges in the response. Part of badges feature experiment.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of feed posts to skip. Used for pagination in combination with take parameter.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "reactionsPageSize",
            "in": "query",
            "description": "Number of reactions to include per post. Controls the pagination of post reactions.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user feed posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market-data/exchanges": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieves a list of exchanges supported by the platform along with basic descriptive data.",
        "operationId": "GetExchanges",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f3565a07-4232-44de-9b74-1222aa1573d9"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "exchangeIds",
            "in": "query",
            "description": "A comma seperated list of exchange ids to retrieve",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market-data/instrument-types": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Fetch available instrument types (asset classes) such as stocks, ETFs, commodities, etc.",
        "operationId": "GetInstrumentTypes",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "fd1e73be-2bb9-43c2-b431-a3d30f400b5f"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "instrumentTypeIds",
            "in": "query",
            "description": "A comma seperated list of instrument type ids to retrieve",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentTypesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market-data/instruments": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieves metadata for specified instruments, including display names, exchange IDs, and classification.",
        "operationId": "GetInstrumentsByFilters",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "e2767c7c-0e70-4b88-b510-3b3e981f36d4"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "instrumentIds",
            "in": "query",
            "description": "A comma seperated list of instrument ids to filter on",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "exchangeIds",
            "in": "query",
            "description": "A comma seperated list of exchange ids to filter on",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "stocksIndustryIds",
            "in": "query",
            "description": "A comma seperated list of stock industry ids to filter on",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "instrumentTypeIds",
            "in": "query",
            "description": "A comma seperated list of instrument type ids to filter on",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market-data/instruments/history/closing-price": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get historical closing prices for all instruments",
        "operationId": "getClosingPrices",
        "responses": {
          "200": {
            "description": "Successful retrieval of closing prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/closingPricesResponse"
                },
                "example": [
                  {
                    "instrumentId": 1002,
                    "officialClosingPrice": 175.75,
                    "isMarketOpen": true,
                    "closingPrices": {
                      "daily": {
                        "price": 175.75,
                        "date": "2025-03-07 00:00:00Z"
                      },
                      "weekly": {
                        "price": 175.75,
                        "date": "2025-03-07 00:00:00Z"
                      },
                      "monthly": {
                        "price": 172.22,
                        "date": "2025-02-28 00:00:00Z"
                      }
                    }
                  },
                  {
                    "instrumentId": 999,
                    "officialClosingPrice": 68,
                    "isMarketOpen": false,
                    "closingPrices": {
                      "daily": {
                        "price": 68,
                        "date": "2024-11-16 00:00:00Z"
                      },
                      "weekly": {
                        "price": 68,
                        "date": "2024-11-16 00:00:00Z"
                      },
                      "monthly": {
                        "price": -1,
                        "date": "0001-01-01 00:00:00Z"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "17762543-8dfe-4f4b-b399-c67f9999e5b8"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ]
      }
    },
    "/api/v1/market-data/instruments/rates": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve current market rates and pricing information for specified instruments",
        "description": "Provides real-time market data including bid/ask prices, conversion rates, and execution prices for specified financial instruments. Essential for price discovery and trade execution decisions.",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c975de94-7801-4cc8-a092-85b293f40b1e"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "instrumentIds",
            "in": "query",
            "style": "form",
            "description": "Comma-separated list of instrument IDs to retrieve market rates for. Each ID represents a unique tradable asset in the system.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "maxItems": 100
            },
            "example": "1,2,3",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved current market rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - Typically due to invalid instrument IDs or exceeding maximum limit"
          }
        }
      }
    },
    "/api/v1/market-data/instruments/{instrumentId}/history/candles/{direction}/{interval}/{candlesCount}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get historical candles data for an instrument",
        "description": "Retrieves historical price data in OHLCV (Open, High, Low, Close, Volume) format for a specified instrument. The data is organized into time-based candles of various intervals, from one minute to one week.",
        "operationId": "getCandles",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "b34fb9f7-d8f0-4a19-824f-dfa1d963f7b0"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "direction",
            "in": "path",
            "description": "Sorting direction of the candles data. Use 'asc' for oldest to newest, or 'desc' for newest to oldest.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "interval",
            "in": "path",
            "description": "Time interval for each candle. Determines the granularity of the price data. Shorter intervals provide more detailed price action but require more data points.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "OneMinute",
                "FiveMinutes",
                "TenMinutes",
                "FifteenMinutes",
                "ThirtyMinutes",
                "OneHour",
                "FourHours",
                "OneDay",
                "OneWeek"
              ]
            }
          },
          {
            "name": "candlesCount",
            "in": "path",
            "description": "Number of candles to retrieve. Maximum value is 1000. For longer historical periods, consider using a larger time interval or making multiple requests.",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "instrumentId",
            "in": "path",
            "description": "Unique identifier of the financial instrument to retrieve candles for. This ID is consistent across all eToro systems.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of candles data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/candlesResponse"
                },
                "example": {
                  "interval": "OneMinute",
                  "candles": [
                    {
                      "instrumentId": 12,
                      "candles": [
                        {
                          "instrumentID": 12,
                          "fromDate": "2025-03-05T10:34:00Z",
                          "open": 1.70227,
                          "high": 1.70277,
                          "low": 1.70221,
                          "close": 1.70253,
                          "volume": 0.0
                        },
                        {
                          "instrumentID": 12,
                          "fromDate": "2025-03-05T10:35:00Z",
                          "open": 1.70252,
                          "high": 1.70276,
                          "low": 1.70244,
                          "close": 1.70276,
                          "volume": 0.0
                        }
                      ],
                      "rangeOpen": 1.70227,
                      "rangeClose": 1.70276,
                      "rangeHigh": 1.70277,
                      "rangeLow": 1.70221,
                      "volume": 0.0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market-data/search": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Search for Instruments",
        "description": "Retrieve a list of instruments based on various search criteria. Each field in the response can be utilized as a filter or projection.",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "94e6173b-f6e4-4f7a-a979-8b70ffc1b0f1"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "Text to search for within instrument names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number to retrieve for pagination.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of fields to include in the response. Example: pop=popularityUniques7Day,displayname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to sort by, with direction (asc/desc). Example: popularityUniques7Day desc",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing the list of instruments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market-data/stocks-industries": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Gets data on available stocks industries",
        "operationId": "GetStocksIndustries",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "1a2060c6-1b51-4455-bb05-cb8e18bf4449"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "stocksIndustryIds",
            "in": "query",
            "description": "A comma seperated list of stock industry ids to retrieves",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StocksIndustriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market-recommendations/{itemsCount}": {
      "get": {
        "tags": [
          "Watchlists"
        ],
        "summary": "Get market recommendations",
        "description": "Retrieves personalized market recommendations for the authenticated user.",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f75ea93a-3ffe-4994-be48-134bf0e89c45"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "itemsCount",
            "in": "path",
            "description": "Number of recommendations to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int16",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved market recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketRecommendationsResponse"
                }
              }
            }
          },
          "204": {
            "description": "No recommendations available"
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Get authenticated user identity",
        "description": "Returns the identity of the currently authenticated user including their Global Customer ID (GCID), Real account Customer ID, and Demo account Customer ID.",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "06e63d90-11e2-4c24-8d95-46e53eb70a81"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/meResponse"
                },
                "examples": {
                  "example": {
                    "summary": "User Identity Response",
                    "value": {
                      "gcid": 123456,
                      "realCid": 789012,
                      "demoCid": 345678
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication credentials"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        }
      }
    },
    "/api/v1/pi-data/copiers": {
      "get": {
        "tags": [
          "PI Data"
        ],
        "summary": "Get copiers public info",
        "responses": {
          "200": {
            "description": "A list of copiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeCopiersResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "5e46e1fe-9026-43d9-aad2-80b3097310d7"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ]
      }
    },
    "/api/v1/reactions/{postId}/comment": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment on a post",
        "description": "Creates a new comment on a specific discussion post. Comments can include text, mentions, tags, and attachments.",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "4513e8b1-d507-405f-84a5-65bc406edb21"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "postId",
            "in": "path",
            "description": "ID of the post to comment on",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          }
        ],
        "requestBody": {
          "description": "Comment creation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sub-portfolios": {
      "get": {
        "tags": [
          "Agent Portfolios"
        ],
        "summary": "Get Agent Portfolios",
        "description": "Retrieves all agent portfolios (also called sub-portfolios) belonging to the authenticated user.",
        "operationId": "getSubPortfolios",
        "responses": {
          "200": {
            "description": "Sub-portfolios retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubPortfoliosResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "Unauthorized",
                  "errorMessage": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "TooManyRequests",
                  "errorMessage": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "UnhandledException",
                  "errorMessage": "Global Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "9526f815-6dd8-4b45-9a06-7595ab347365"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ]
      },
      "post": {
        "tags": [
          "Agent Portfolios"
        ],
        "summary": "Create Agent Portfolio",
        "description": "Creates a new agent portfolio (also called sub-portfolio) a dedicated user account that receives its own fixed virtual balance (returned in subPortfolioVirtualBalance). IMPORTANT: investmentAmountInUsd is the amount deducted from YOUR (the caller's) account balance to copy-trade this agent portfolio it is NOT the agent portfolio's own balance. Positions are mirrored proportionally: e.g. if you invest &#36;2,000 and subPortfolioVirtualBalance is &#36;10,000, each position is copied at 20% of its size into your account.",
        "operationId": "createSubPortfolio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sub-portfolio and user token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubPortfolioResponse"
                }
              }
            }
          },
          "207": {
            "description": "Sub-portfolio created but user token provisioning failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubPortfolioPartialResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NameTooShort": {
                    "summary": "Sub-portfolio name too short",
                    "value": {
                      "errorCode": "ValidationFailed",
                      "errorMessage": "Sub-portfolio name must be between 6 and 10 characters"
                    }
                  },
                  "InvestmentBelowMinimum": {
                    "summary": "Investment amount below minimum",
                    "value": {
                      "errorCode": "ValidationFailed",
                      "errorMessage": "Investment amount is below the minimum threshold"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "Unauthorized",
                  "errorMessage": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "TooManyRequests",
                  "errorMessage": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "UnhandledException",
                  "errorMessage": "Global Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "4c6229ef-259c-489e-8a63-217c26d55382"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ]
      }
    },
    "/api/v1/sub-portfolios/{subPortfolioId}": {
      "delete": {
        "tags": [
          "Agent Portfolios"
        ],
        "summary": "Delete Agent Portfolio",
        "description": "Permanently removes an agent portfolio (also called sub-portfolio) by revoking all user tokens, stopping the copy mirror, and deleting from storage.",
        "operationId": "deleteSubPortfolio",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a06d9c30-d523-4871-aee9-3f4e62a89b69"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "subPortfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the sub-portfolio to delete."
          }
        ],
        "responses": {
          "204": {
            "description": "Sub-portfolio was successfully removed"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "ValidationFailed",
                  "errorMessage": "Invalid sub-portfolio ID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "Unauthorized",
                  "errorMessage": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Sub-portfolio not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "NotFound",
                  "errorMessage": "Sub-portfolio not found"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "TooManyRequests",
                  "errorMessage": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "UnhandledException",
                  "errorMessage": "Global Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sub-portfolios/{subPortfolioId}/user-tokens": {
      "post": {
        "tags": [
          "Agent Portfolios"
        ],
        "summary": "Create User Token",
        "description": "Creates a new user token for the specified agent portfolio (also called sub-portfolio).",
        "operationId": "createSubPortfolioUserToken",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "80250be5-39ed-4ed9-96f6-b4986f6865c8"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "subPortfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the sub-portfolio."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserTokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ScopeIdsRequired": {
                    "summary": "Scope IDs are required",
                    "value": {
                      "errorCode": "ScopeIdsRequired",
                      "errorMessage": "ScopeIds is required"
                    }
                  },
                  "InvalidIp": {
                    "summary": "Invalid IP address",
                    "value": {
                      "errorCode": "IpsWhitelistInvalidIp",
                      "errorMessage": "IpsWhitelist contains an invalid IPv4 address"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "Unauthorized",
                  "errorMessage": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Sub-portfolio not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "NotFound",
                  "errorMessage": "Sub-portfolio not found"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "TooManyRequests",
                  "errorMessage": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "UnhandledException",
                  "errorMessage": "Global Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sub-portfolios/{subPortfolioId}/user-tokens/{userTokenId}": {
      "delete": {
        "tags": [
          "Agent Portfolios"
        ],
        "summary": "Delete User Token",
        "description": "Permanently revokes the specified user token from an agent portfolio (also called sub-portfolio).",
        "operationId": "deleteSubPortfolioUserToken",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "4ba1f2a0-1d4e-4793-aee8-e2157935a178"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "subPortfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the sub-portfolio."
          },
          {
            "name": "userTokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the user token to delete."
          }
        ],
        "responses": {
          "204": {
            "description": "User token revoked successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "ValidationFailed",
                  "errorMessage": "Invalid sub-portfolio ID or user token ID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "Unauthorized",
                  "errorMessage": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Sub-portfolio or user token not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "NotFound",
                  "errorMessage": "Sub-portfolio or user token not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "UnhandledException",
                  "errorMessage": "Global Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Agent Portfolios"
        ],
        "summary": "Update User Token",
        "description": "Updates the settings of an existing user token for an agent portfolio (also called sub-portfolio). At least one field must be provided.",
        "operationId": "updateSubPortfolioUserToken",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "9a033461-14a9-4d97-ad8a-1e1d469086ec"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "subPortfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the sub-portfolio."
          },
          {
            "name": "userTokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the user token to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserTokenRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "User token updated successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NoChanges": {
                    "summary": "No changes provided",
                    "value": {
                      "errorCode": "NoChangesDetected",
                      "errorMessage": "At least one field must be provided"
                    }
                  },
                  "InvalidScopes": {
                    "summary": "Invalid scope IDs",
                    "value": {
                      "errorCode": "ScopeIdNotAllowed",
                      "errorMessage": "ScopeIds contains values not in the allowed set"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "Unauthorized",
                  "errorMessage": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Sub-portfolio or user token not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "NotFound",
                  "errorMessage": "Sub-portfolio or user token not found"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "TooManyRequests",
                  "errorMessage": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errorCode": "UnhandledException",
                  "errorMessage": "Global Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trading/execution/demo/limit-orders": {
      "post": {
        "tags": [
          "Trading - Demo"
        ],
        "summary": "Places a Market-if-touched order (similar to Limit order) to open a position when a threshold price is reached.",
        "description": "A Market-if-touched order is an order to open a new long or short position when a specific price or better appears in the Market. The price threshold is used to trigger a Market Order. This endpoint allows traders to set up Market-if-touched orders with parameters like leverage, stop-loss, and take-profit settings.",
        "operationId": "openLimitOrderDemo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "InstrumentID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique identifier of the financial instrument."
                  },
                  "IsBuy": {
                    "type": "boolean",
                    "description": "Indicates whether the order will open a long (true) or short (false) position."
                  },
                  "Leverage": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The leverage ratio for the order."
                  },
                  "Amount": {
                    "type": "number",
                    "format": "double",
                    "nullable": true,
                    "description": "The amount of the trade in the account currency [USD]. Required if AmountInUnits is not provided."
                  },
                  "AmountInUnits": {
                    "type": "number",
                    "format": "double",
                    "nullable": true,
                    "description": "The number of units of the asset. Required if Amount is not provided. For most assets this can be a fractional number. Note that for Future Contracts this number should indicate the number of underlying units, and not the number of contracts, according to the formula: AmountInUnits = contract multiplier * number of contracts."
                  },
                  "StopLossRate": {
                    "type": "number",
                    "format": "double",
                    "description": "The stop-loss trigger price at which the position will generate a Market Order to close (after it was opened). StopLoss trigger price must be worse than current price."
                  },
                  "TakeProfitRate": {
                    "type": "number",
                    "format": "double",
                    "description": "The take-profit trigger price at which the position will generate a Market Order to close (after it has opened). TakeProfit trigger price must be better than the current price."
                  },
                  "Rate": {
                    "type": "number",
                    "format": "double",
                    "description": "The trigger price at which a Market order to open the position will be sent for execution. The trigger price must be better than the current price. This means that the trigger price must be lower than current price for Long positions, and higher than current price for Short positions."
                  },
                  "IsTslEnabled": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Indicates if a trailing stop loss (TSL) is enabled. This means that the stoploss rate indicated will get updated automatically whenever the asset price increases (for long positions) or decreases (for short position) effectively keeping the stoploss in a constant gap from the best price achieved so far."
                  },
                  "IsDiscounted": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "SHOULD NOT BE EXTERNALZIED"
                  },
                  "IsNoStopLoss": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Indicates if stop-loss is disabled."
                  },
                  "IsNoTakeProfit": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Indicates if take-profit is disabled."
                  },
                  "CID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "SHOULD NOT BE EXTERNALIZED."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market-if-touched order successfully placed. The response includes a confirmation token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A confirmation token indicating the order creation."
                    }
                  },
                  "required": [
                    "token"
                  ]
                },
                "example": {
                  "token": "9af05785-be29-482d-a892-9d9be4fd34bc"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "333e97fe-588a-46d0-897a-c3163b5d61d7"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          }
        ]
      }
    },
    "/api/v1/trading/execution/demo/limit-orders/{orderId}": {
      "delete": {
        "tags": [
          "Trading - Demo"
        ],
        "summary": "Cancels a Market-if-touched order that has not yet been executed.",
        "description": "This endpoint allows traders to cancel a Market-if-touched order before it is executed. Once canceled, the order will no longer be processed.",
        "operationId": "cancelLimitOrderDemo",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "16c4ef0a-bc43-4a33-9414-1761e23321f8"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "The unique identifier of the Market-if-touched order to be canceled."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully canceled the Market-if-touched order. The response includes a confirmation token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A confirmation token indicating the order cancellation."
                    }
                  },
                  "required": [
                    "token"
                  ]
                },
                "example": {
                  "token": "9af05785-be29-482d-a892-9d9be4fd34bc"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trading/execution/demo/market-close-orders/positions/{positionId}": {
      "post": {
        "tags": [
          "Trading - Demo"
        ],
        "summary": "Creates a market order to close a position or partially close it by specifying the number of units to deduct.",
        "description": "This endpoint allows traders to close an entire position or a portion of it at the current market rate. If `UnitsToDeduct` is provided, only the specified portion will be closed. If `UnitsToDeduct` is omitted or set to null, the full position will be closed.",
        "operationId": "closePositionByMarketRateDemo",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d76dba6e-aecb-40f0-a7ca-dcbd61b6e3da"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "positionId",
            "in": "path",
            "description": "The unique identifier of the position to close.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "InstrumentID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of the financial instrument associated with the position."
                  },
                  "UnitsToDeduct": {
                    "type": "number",
                    "format": "double",
                    "nullable": true,
                    "description": "The number of units to close. If omitted or null, the entire position will be closed."
                  }
                },
                "required": [
                  "InstrumentID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully closed a position or a part of it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderForClose": {
                      "type": "object",
                      "properties": {
                        "positionID": {
                          "type": "integer",
                          "description": "The ID of the closed position."
                        },
                        "instrumentID": {
                          "type": "integer",
                          "description": "The ID of the instrument traded."
                        },
                        "unitsToDeduct": {
                          "type": "number",
                          "format": "double",
                          "description": "The number of units closed in this order."
                        },
                        "orderID": {
                          "type": "integer",
                          "description": "The unique identifier of the closing order."
                        },
                        "orderType": {
                          "type": "integer",
                          "description": "The type of order executed."
                        },
                        "statusID": {
                          "type": "integer",
                          "description": "The status of the closing order."
                        },
                        "CID": {
                          "type": "integer",
                          "description": "Customer Account ID associated with the order."
                        },
                        "openDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the order was placed."
                        },
                        "lastUpdate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp of the last update to this order."
                        }
                      }
                    },
                    "token": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A unique confirmation token for the closing order."
                    }
                  }
                },
                "example": {
                  "orderForClose": {
                    "positionID": 2150941015,
                    "instrumentID": 1111,
                    "unitsToDeduct": 2,
                    "orderID": 13904638,
                    "orderType": 19,
                    "statusID": 1,
                    "CID": 7765437,
                    "openDateTime": "2025-04-02T16:07:54.0880338Z",
                    "lastUpdate": "2025-04-02T16:07:54.0880338Z"
                  },
                  "token": "5fe065bc-f6f9-4897-a2ce-c4fccef73ff8"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trading/execution/demo/market-close-orders/{orderId}": {
      "delete": {
        "tags": [
          "Trading - Demo"
        ],
        "summary": "Cancels a pending market order for close for the specified order ID.",
        "description": "This endpoint allows traders to cancel a previously placed market order for close before execution. If the order has already been processed, cancellation will not be possible.",
        "operationId": "cancelCloseOrderDemo",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "e0b26502-633d-4b56-bd0e-8bb2f240038c"
            },
            "description": "A unique request identifier."
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "lhgfaslk21490FAScVPkdsb53F9dNkfHG4faZSG5vfjndfcfgdssdgsdHF4663"
            },
            "description": "API key for authentication."
          },
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password",
              "example": "eyJlYW4iOiJVbnJlZ2lzdGVyZWRBcHBsaWNhdGlvbiIsImVrIjoiOE5sZ2cwcW5EUVdROUFNWGpXT2lmOWktZnpidG5KcUlqWGJ3WHJZZkpZcldrbG90ZEhvLVBjSWhQaU8xU1ZtMW84aU1WZGZqN2xWNzFjLXFxLmcybXE1dnh4Q1hUT25xaWRUaTFlcEhmVk1fIn0_"
            },
            "description": "User-specific authentication key."
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "The unique identifier of the market order for close to be canceled."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully canceled the market order for close. The response includes a confirmation token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A confirmation token indicating the order cancellation."
                    }
                  },
                  "required": [
                    "token"
                  ]
                },
                "example": {
                  "token": "7f1da128-f516-4710-8474-915566c4b22e"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trading/execution/demo/market-open-orders/by-amount": {
      "post": {
        "tags": [
          "Trading - Demo"
        ],
        "summary": "Create a market order to open a position by specifying the amount of cash you would like to use in the trade.",
        "description": "This endpoint allows traders to place a market order to open a position by specifying the investment amount instead of specifying the number of units. The trade will be executed at the market price, and leverage, stop-loss, and take-profit settings can be applied.",
        "operationId": "openMarketPositionByAmountDemo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "InstrumentID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique identifier of the financial instrument to trade."
                  },
                  "IsBuy": {
                    "type": "boolean",
                    "description": "True for a long position, false for a short position."
                  },
                  "Leverage": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The leverage multiplier for the trade."
                  },
                  "Amount": {
                    "type": "number",
                    "format": "double",
                    "description": "The amount of money to invest in the trade."
                  },
                  "StopLossRate": {
                    "type": "number",
                    "format": "double",
                    "nullable": true,
                    "description": "The stop-loss trigger price at which the position will generate a Market Order to close (after it was opened). StopLoss trigger price must be worse than current price."
                  },
                  "TakeProfitRate": {
                    "type": "number",
                    "format": "double",
                    "nullable": true,
                    "description": "The take-profit trigger price at which the position will generate a Market Order to close (after it has opened). TakeProfit trigger price must be better than the current price."
                  },
                  "IsTslEnabled": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Indicates if a trailing stop loss (TSL) is enabled. This means that the stoploss rate indicated will get updated automatically whenever the asset price increases (for long positions) or decreases (for short position) effectively keeping the stoploss in a constant gap from the best price achieved so far."
                  },
                  "IsNoStopLoss": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "True if no stop-loss is set for this order."
                  },
                  "IsNoTakeProfit": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "True if no take-profit is set for this order."
                  }
                },
                "required": [
                  "InstrumentID",
                  "IsBuy",
                  "Leverage",
                  "Amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully opened a market order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderForOpen": {
                      "type": "object",
                      "properties": {
                        "instrumentID": {
                          "type": "integer",
                          "description": "The ID of the traded instrument."
                        },
                        "amount": {
                          "type": "integer",
                          "description": "The invested amount."
                        },
                        "isBuy": {
                          "type": "boolean",
                          "description": "True for a long position, false for a short position."
                        },
                        "leverage": {
                          "type": "integer",
                          "description": "The leverage applied to the trade."
                        },
                        "stopLossRate": {
                          "type": "integer",
                          "description": "The stop-loss threshold rate, if applicable."
                        },
                        "takeProfitRate": {
                          "type": "integer",
                          "description": "The take-profit thereshold rate, if applicable."
                        },
                        "isTslEnabled": {
                          "type": "boolean",
                          "description": "Indicates if trailing stop-loss is enabled."
                        },
                        "mirrorID": {
                          "type": "integer",
                          "description": "ID related to mirrored trades, if applicable."
                        },
                        "totalExternalCosts": {
                          "type": "integer",
                          "description": "Total external costs associated with opening the trade."
                        },
                        "orderID": {
                          "type": "integer",
                          "description": "The unique order identifier."
                        },
                        "orderType": {
                          "type": "integer",
                          "description": "The type of order executed."
                        },
                        "statusID": {
                          "type": "integer",
                          "description": "The status of the order."
                        },
                        "CID": {
                          "type": "integer",
                          "description": "Customer ID associated with the order."
                        },
                        "openDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the order was opened."
                        },
                        "lastUpdate": {
[...]
